/*!CK:3128910988!*//*1378778618,173205835*/

._5084{border:1px solid #bbb;height:127px;left:0;margin-bottom:-35px;position:relative;top:1px;width:398px}
._507_{background-color:#fff;border:3px solid #fff;-webkit-border-radius:2px;display:block;height:99px;width:99px}
._5080{background:rgba(0, 0, 0, .3);-webkit-border-radius:3px;bottom:13px;left:13px;margin:13px 7px -3px -3px;padding:1px;position:absolute}
._5083{overflow:hidden}
._508c{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;height:85px}
._508d{background-color:#f5f7f7;height:85px}
._508c, ._508d{bottom:42px;position:absolute;width:398px}
._518v, ._518w{bottom:13px;max-height:30px;overflow-y:hidden;position:absolute}
._518v a{color:#fff}
._518w a{color:#000}
._5088, ._5089{left:128px;line-height:1.2;max-width:250px;position:relative;z-index:1}
._5088{bottom:21px;color:#fff}
._5089{bottom:-65px;color:gray}
._508a, ._508b{margin-left:3px;position:relative;width:150px}
._508a{bottom:-7px;left:130px;margin-bottom:22px}
._508b{bottom:6px;left:123px;z-index:1}
._5081{bottom:10px;float:right;position:absolute;right:10px}
._50zb{border-bottom:1px solid #e6e6e6;border-top:1px solid #ccc;margin-left:-18px;padding-left:18px}
html ._50zc{margin-bottom:10px;margin-top:5px}
.friendListHeader{height:41px;padding-top:4px}
.friendListHeader .editForm, .friendListHeaderEditMode .staticName, .friendListHeaderEditMode .friendListSubHeader, .friendListManage .updateType, .updateTypesExpanded .chooseUpdateTypes{display:none}
.friendListHeaderEditMode .editForm, .updateTypesExpanded .updateType{display:block}
.friendListHeader .friendListName .nameInput{font-size:13px;width:140px}
.friendListSubHeader{padding-left:23px}
.friendListHeader .timelineUnitContainer .uiSelector{padding-left:5px;margin-left:-12px;margin-top:-3px}
.friendListHeader .fbAudienceHover{margin-left:-1px}
div#contentCol.friendListFilter{padding-top:15px !important}
div#contentCol.friendListFilter div#rightCol{padding-top:0}
.friendListFilterNullState{padding-top:40px;text-align:center}
.friendListRestrictedNullState{border-top:1px solid #ccc;font-size:12px;padding-top:40px;text-align:justify}
.notificationSelector .uiSelectorButton .img{margin-top:2px;margin-left:2px}
.friendListTypeaheadBox .plusIcon{position:absolute;top:7px;left:11px}
.friendListTypeaheadBox .friendListAddTypeahead{background-color:transparent}
.friendListAddTypeahead .textInput{padding-left:15px}
.friendListAddTypeahead .noPadding{padding-left:0}
.friendListAddTypeahead{margin-right:8px}
.friendListTypeaheadBox{position:relative}
.home #rightCol .friend_list_new_feed_header{height:34px;margin-bottom:5px;padding-top:5px;padding-right:20px}
.smartListTip{cursor:default;font-weight:normal}
.empty .fbFriendListMemberBoxFacepile,
.fbFriendListNoMembersMessage{display:none}
.empty .fbFriendListNoMembersMessage{display:block}
.listAttachment{outline:none}
.listAttachmentList{line-height:16px}
.listAttachment .listCreatorLink a{color:#6b84b4}
._5dn0, ._5egu{border:1px solid #e5e5e5;width:415px}
.tickerDialogContent ._5dn0, .tickerDialogContent ._5egu{width:281px}
._6xi{width:196px}
._6xj{width:129px}
._56xs._5b19 ._57_1{left:168px}
._56xs ._5b1a{height:180px}
._56xt._5b19 ._57_1{left:101px}
._56xt ._5b1a{height:175px}
._56xs._5b19 ._57_1{left:168px}
.tickerDialogContent ._5b1a{height:auto}
.tickerDialogContent ._56xs._5b19 ._57_1{left:101px}
.tickerDialogContent ._56xt._5b19 ._57_1{left:75px}
.pymkAttachmentList > li{margin-top:2px}
.pymkAttachment{display:inline;outline:none}
.pymkAttachmentWithBorder{border-bottom:1px solid #e9e9e9;padding-bottom:15px}

#bootloader_hIhEO { height: 42px; }
.bootloader_hIhEO { display:block !important; }