/*!CK:98831957!*//*1379296195,178146581*/

.fbEmuPremium .inline{padding-top:4px}
.fbEmuPremium .body{line-height:13px}
.fbEmuPremium .body ._24x{display:block}
.fbEmuPremium .image .img{max-height:80px;max-width:110px}
._49tg{position:relative}
._49th{display:inline;padding-right:5px;position:relative}
._49ti{display:inline;padding-right:3px;position:relative}
._49tj{top:1px}
._49tk{top:3px}
._49tl{top:4px}
._49tm{color:#666;display:inline;font-size:10px;position:relative}
._5hww ._49tm{color:#3b5998;font-size:11px}
._5cya{margin-top:8px;padding:0 4px;text-align:center}
._5cya ._5cyb{float:left}
._5cya ._5cyc{float:right}
._5cya.adUnitSliderSimplified{margin-bottom:3px;margin-top:0;padding:0;width:120px}
._5cya.adUnitSliderSimplified ._5cyd ._5k1a{padding-top:4px}


#bootloader_UQiWZ { height: 42px; }
.bootloader_UQiWZ { display:block !important; }